@page "/to-do-list/edit/{ToDoItemId:long}"
@page "/{UserId}/to-do-list/edit/{ToDoItemId:long}"
@page "/to-do-list/create"
@page "/{UserId}/to-do-list/create"
@using ToDoList.Client.Extensions
@inject NavigationManager NavManager
@inject IToDoItemService IToDoItem
@inject ICategoryService ICategory
@attribute [Authorize]

<h3>ToDoItem</h3>
<hr />
<h3>@mode</h3>
<br />
<Loader IsLoading="isLoading">
    <ShowError Error="@error">
        <FormValidator Model="toDoItem" OnValidSubmit="HandleValidSubmit" Action="@(mode.ToString())" BackTo="@backTo">
            <InputTextValidator @bind-Value="toDoItem.Name" For="@(() => toDoItem.Name)" /><br />
            <InputSelectValidator @bind-Value="toDoItem.CategoryId" For="@(() => toDoItem.CategoryId)"
                Values="@categories.Select(c => new SelectValue<long>(c.Id,c.Name))" /><br />
            <InputSelectValidator @bind-Value="toDoItem.Priority" For="@(() => toDoItem.Priority)"
                Values="@(Enum.GetValues(typeof(Priority)).Cast<Priority>().Select(p => new SelectValue<Priority>(p, p.ToString())))" /><br />
            <InputDatetimeValidator @bind-Value="toDoItem.Deadline" For="@(() => toDoItem.Deadline)" /><br />
            <InputNumberValidator @bind-Value="toDoItem.Complication" For="@(() => toDoItem.Complication)" /><br />
            <InputCheckboxValidator @bind-Value="toDoItem.IsCompleted" For="@(() => toDoItem.IsCompleted)" /><br />
        </FormValidator>
    </ShowError>
</Loader>

@code {
    string? error;
    bool isLoading = true;
    bool isAdmin;

    [Parameter]
    public long ToDoItemId { get; set; }

    [Parameter]
    public string UserId { get; set; }

    [CascadingParameter]
    Task<AuthenticationState> authStateTask { get; set; }

    Mode mode => ToDoItemId == 0 ? Mode.Create : Mode.Edit;

    ToDoItem toDoItem = new();
    IEnumerable<Category> categories = Enumerable.Empty<Category>();

    string pathForAdmin() => isAdmin ? UserId : string.Empty;
    string backTo => $"{pathForAdmin()}/to-do-list";


    protected override async Task OnParametersSetAsync()
    {
        try
        {
            var claims = (await authStateTask).User;
            isAdmin = claims.IsInRole(Roles.Admin);

            if(!isAdmin)
                UserId = (await authStateTask).User.GetUserId();

            if (mode == Mode.Edit)
                toDoItem = await IToDoItem.GetToDoItemAsync(UserId, ToDoItemId);
            categories = await ICategory.GetCategoriesAsync(UserId);

            isLoading = false;
        }
        catch
        {
            NavManager.NavigateTo(backTo);
        }
    }

    async Task HandleValidSubmit()
    {
        error = null;
        try
        {
            if (mode == Mode.Create)
                await IToDoItem.AddToDoItemAsync(new(UserId, toDoItem));
            else
                await IToDoItem.UpdateToDoItem(new(UserId, toDoItem));

            NavManager.NavigateTo(backTo);
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}
